-----BEGIN CERTIFICATE-----
MIIDYDCCAkgCCQDlyc2tDUfbozANBgkqhkiG9w0BAQsFADByMQswCQYDVQQGEwJN
RDERMA8GA1UECgwIc3RhdHBpbmcxCzAJBgNVBAsMAklUMR0wGwYDVQQDDBRzdGF0
cGluZy5keW5zcG90LmNvbTEkMCIGCSqGSIb3DQEJARYVd2VibWFzdGVyQGR5bnNw
b3QuY29tMB4XDTIyMDcxMzEzMDMyNVoXDTI3MDcxMzEzMDMyNVowcjELMAkGA1UE
BhMCTUQxETAPBgNVBAoMCHN0YXRwaW5nMQswCQYDVQQLDAJJVDEdMBsGA1UEAwwU
c3RhdHBpbmcuZHluc3BvdC5jb20xJDAiBgkqhkiG9w0BCQEWFXdlYm1hc3RlckBk
eW5zcG90LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ+9uF/w
3AkVutQBy3ViE68/k6H0PIFEaOgCt+qX8HqvHAZbK7dR9u8t8wtSN2CtbG5GBVde
uJP2ud3+oBUxezb/n/rrSSVMIzzCIKW7UybPSBOSA1c0m6YxgOz8KCHitZw0UwV0
OFbRHG2y262wluCWTsTNLzJvqCdqFEvgHk/hh/Nqz2Bpnp32i2uF4I0qoMylLv3Y
U8/XJADG0fVLh55HknIHq43w+7SvqTf+KRBJLtxKBFzB7wNxHwGDUxLFTMHgTyIx
ei+08Cymqdave2RJd/+Oqyw7pBiAKtoHZYfw08E8P11luDhwhHt9lebGe4J4XRZl
7Tv3VGAWFEvOHXMCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAd7MXZGTP+p3ItH3f
ZOnMt+76o1yHZ5mKj1+mNfnVQKWn9V3TzuRs5/fP2SHAI+3obCtkKaF6bY6dyKjF
ffhY81r8vjKeRFxNoT1P86HcP00trKeSQgwsbNjW7pYMXfIKJSHI4eIO0eXqYgjg
PDgXx4FULVguMAXQV/KwnCqol3rm6uHFa7iO0sJYYpZPAjulLU2+vyAn/Ww3b/Fo
rrkjsaG/KZp2ntl+ybPd6psNa8c4+Jts93hBQoW2QFTgqWycGOTnx0Maab3yCsG3
QAx2WDo8OSRgpEo8ZofV0+Edwz5vHDeVaDmhfPZzY8Xa13aATqMOtINv3dnKr0w6
Z2Jt3Q==
-----END CERTIFICATE-----
